<!-- BEGIN: Large Modal Content -->
<div #modalContainer id="large-modal-size-preview" class="modal overflow-y-auto ">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3 relative flex flex-col items-center" *ngIf="servicioData">

      <div class="flex flex-row-reverse w-full">
        <button class="btn btn-danger" (click)="cerrar()">x</button>
      </div>

      <div class="overflow-auto mt-2 w-full">
        <table border="0" cellpadding="3" cellspacing="3" class="w-full mx-auto" width="100%">
          <tbody>
            <tr class="filter-result__main-table-row">
              <td class="filter-result__main-table-cell" rowspan="2">Matrix or material</td>

              <td class="filter-result__main-table-cell" colspan="2">Dissemination range of measurement capability</td>
              <td class="filter-result__main-table-cell" colspan="2">Range of certified values in reference materials
              </td>
            </tr>

            <tr class="filter-result__main-table-row">
              <td class="filter-result__main-table-cell">{{servicioData.quantityValue}} in </td>
              <!-- <td class="filter-result__main-table-cell">{{servicioData.quantityValue}} in {{servicioData.cmc.unit}}</td> -->
              <td class="filter-result__main-table-cell">{{servicioData.uncertaintyMode}} expanded uncertainty in
                {{servicioData.cmcUncertainty.unit}}</td>
              <td class="filter-result__main-table-cell">{{servicioData.quantityValue}} in {{servicioData.crm.unit}}</td>
              <td class="filter-result__main-table-cell">{{servicioData.uncertaintyMode}} expanded uncertainty in {{servicioData.crmUncertainty.unit}}</td>
            </tr>

            <tr class="filter-result__main-table-row">
              <td class="filter-result__main-table-cell">aqueous solution</td>

              <td class="filter-result__main-table-cell">{{servicioData.cmc.lowerLimit}} to
                {{servicioData.cmc.upperLimit}}</td>
              <td class="filter-result__main-table-cell">{{servicioData.cmcUncertainty.lowerLimit}} to
                {{servicioData.cmcUncertainty.upperLimit}}</td>

              <td class="filter-result__main-table-cell">{{servicioData.crm.lowerLimit}} to {{servicioData.crm.upperLimit}}
              </td>
              <td class="filter-result__main-table-cell">{{servicioData.crmUncertainty.lowerLimit}} to
                {{servicioData.crmUncertainty.upperLimit}}</td>
            </tr>


          </tbody>
        </table>
      </div>


      <div class="text-slate-500 font-semibold text-[16px] mt-2">

        <p class="m-1">Mechanism for measurement service delivery: {{servicioData.mechanism}}</p>

        <!-- <p class="m-1">{{servicioData.instrument}}</p> -->
        <p class="m-1" [innerHTML]="servicioData.comments"></p>
        <p class="m-1">Approved on {{servicioData.approvalDate}}</p>
        <p class="m-1">Institute service identifier: {{servicioData.nmiServiceCode}}</p>
        <a target="_blank" [href]="'https://si-digital-framework.org/kcdb-cmc/'+servicioData.kcdbCode"
          class="m-1 underline">CMC ID: {{servicioData.kcdbCode}}</a>

      </div>
    </div>
  </div>


</div>
