<div
  class="-z-50 flex top-0 h-[calc(20%)] max-[1400px]:h-[calc(100px)] min-[1400px]:fixed flex-col justify-around items-center p-4 bg-[#004382] text-slate-100  w-full"
  style=" background-image: url(https://www.bipm.org/kcdb/static/img/header-bg-11bf7d6685fa30bfc47c43738128b3c3.jpg);">

  <div class="w-full flex flex-row items-center justify-between absolute">
    <div class="ml-3">
      <img style="filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 255, 255, 0.8))"
        src="https://www.bipm.org/documents/20126/27072194/KCDB2.0.png/9c3242fe-9354-00c8-2015-cff907504719?t=1581073267483"
        alt="kcdb-img" class="max-[1400px]:w-[180px] w-[260px]">
    </div>
    <div class="mr-3">
      <img src="assets/CENAM Blanco.png" class="max-[1400px]:w-[140px] w-[180px]" alt="cenam-img">
    </div>
  </div>
</div>
<div class="absolute top-[5%] w-full max-[800px]:relative">
  <div class="mx-auto flex flex-col justify-around items-center max-[800px]:w-full min-[800px]:w-1/2 max-[1400px]:w-1/3  w-1/2 bg-[#e7e8e9]
              rounded shadow-md px-2 max-[1400px]:py-3 py-6 max-[1400px]:mt-0 mt-12">
    <a class="max-[1400px]:text-base text-xl text-slate-600  font-bold underline" routerLink="../../">
      ⬅ INICIO</a>
    <h2 class="max-[1400px]:text-base text-xl text-slate-500 font-medium text-center">
      México, CENAM (Centro Nacional de Metrología)
    </h2>
    <p class="text-slate-500 font-semibold max-[1400px]:text-base text-lg text-center">
      Busqueda por <a target="_blank"
        href="https://www.bipm.org/kcdb/cmc/quick-search?includedFilters=cmcBranches.Dimensional+metrology&excludedFilters=cmcDomain.CHEM-BIO%2CcmcDomain.RADIATION&page=0&keywords=M%C3%A9xico"
        class="font-bold text-slate-700">COMPARISON</a> domain
    </p>
  </div>
</div>

<div
  class="px-5 max-[800px]:mt-3 min-[800px]:mt-20 min-[1400px]:mt-56 max-[1400px]:h-[calc(82%-144px)] h-[calc(90%-224px-20px)] flex flex-col"
  style="z-index: 0;">

  <div class="intro-y flex flex-row sm:flex-nowrap items-center mt-3">
    <a routerLink="../../../domains" class="btn btn-primary shadow-md mr-2"> ⬅ </a>
    <div class="flex-1 flex flex-row justify-between item-center ">
      <div class="flex flex-row justify-between items-center  w-full max-[850px]:flex-wrap-reverse">
        <div class="relative text-slate-500">
          <div class="flex flex-wrap items-center  max-[700px]:mt-2 max-[700px]:flex-col">
            <div>
              <label for="">Área Metrología</label>
              <select [(ngModel)]="areaMetrologiaId" (change)="selectArea()"
                class="bg-gray-50 m-1 border w-72 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                <option value="Todos">Todos</option>
                <option *ngFor="let item of areaMetrologia" [value]="item.id">{{item.label +' - '+ item.value}}</option>
              </select>
            </div>
            <div>
              <label for="">Rama</label>
              <select [(ngModel)]="branchId" (change)="selectBranch()"
                class="bg-gray-50 m-1 w-72 ml-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 max-[850px]:mt-2">
                <option value="">Todos</option>
                <option *ngFor="let item of branch" [value]="item.id">{{item.id +' - '+ item.value}}</option>
              </select>

            </div>
            <div>
              <label for="">Tipo de comparación</label>
              <select [(ngModel)]="keyComparison" (change)="selectComparison()"
                class="bg-gray-50 m-1 w-72 ml-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 max-[850px]:mt-2">
                <option value="">Todos</option>
                <option value="Key">Key Comparación</option>
                <option value="Supplementary">Supplementary Comparison</option>
              </select>
            </div>
            <div>
              <label for="">Instituto Piloto</label>
              <select [(ngModel)]="piloto"
                class="bg-gray-50 m-1 w-72 ml-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 max-[850px]:mt-2">
                <option value="0">Todos</option>
                <option value="CENAM">CENAM</option>
              </select>
            </div>
            <div>
              <label for="">Estado</label>
              <select [(ngModel)]="areaMetrologiaId" (change)="selectArea()"
                class="bg-gray-50 m-1 border w-72 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ">
                <option value="Todos">Todos</option>
                <option *ngFor="let item of areaMetrologia" [value]="item.id">{{item.label +' - '+ item.value}}</option>
              </select>
            </div>
            <div>
              <label for="">Fecha de medición</label>
              <select [(ngModel)]="branchId" (change)="selectBranch()"
                class="bg-gray-50 m-1 w-72 ml-1 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 max-[850px]:mt-2">
                <option value="">Todos</option>
                <option *ngFor="let item of branch" [value]="item.id">{{item.id +' - '+ item.value}}</option>
              </select>

            </div>
            <div class="bg-gray-50 m-1 w-72 ml-1 text-sm rounded-lg max-[850px]:mt-2 flex flex-col">
              <span class="" style="visibility: hidden;">sss</span>
              <button class="btn btn-primary max-[600px]:w-full" (click)="aplicar()">Aplicar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row items-center justify-between mt-2">
    <h1 class="p-2 text-lg text-slate-500">Total: {{totalItems}}</h1>
    <button #btn class="btn btn-primary mr-2" (click)="exportXLSXTodo(btn)">Exportar todo .xlsx</button>
  </div>

  <p class="mt-3"> Página {{selectNumber}} de {{totalPages}}</p>
  <div class="flex-1 intro-y col-span-12 max-[850px]:overflow-x-auto min-[950px]:overflow-y-auto  mt-5">
    <table *ngIf="comparisonsData.length>0; else n" class="table table-report -mt-2">
      <thead>
        <tr>
          <th class="text-center whitespace-nowrap">#</th>
          <th class="text-center whitespace-nowrap">ID</th>
          <th class="text-center whitespace-nowrap">Área</th>
          <th class="text-center whitespace-nowrap">Rama</th>
          <th class="text-center whitespace-nowrap">Descripción</th>
          <th class="text-center whitespace-nowrap">Parametros</th>
          <th class="text-center whitespace-nowrap">Tiempo de las mediciones</th>
          <th class="text-center whitespace-nowrap">Instituto piloto</th>
          <th class="text-center whitespace-nowrap">Estado</th>
          <th class="text-center whitespace-nowrap">Gráficas de equivalencia</th>
        </tr>
      </thead>
      <tbody>
        <tr class="intro-x " *ngFor="let item of comparisonsData; let i = index">
          <td class="w-11">{{i+1}}</td>
          <td class="font-medium  text-center">
            <a target="_blank" class="cursor-pointer underline" (click)="verInfo(item.id)">
              {{item.comparisonIdentifier}}
            </a>
          </td>
          <td class="font-medium w-11 text-center ">{{item.metrologyAreaName}}</td>
          <td class="font-medium w-11 text-center ">{{item.subField}}</td>
          <td class="w-48">
            <div class="flex items-center justify-center ">
              <p [innerHTML]="item.description" class="m-1"></p>
            </div>
          </td>
          <td class="font-medium w-20 text-center ">{{item.parameters}}
          </td>
          <td class="w-11 text-center">
            {{(item.startYear == item.endYear)? item.startYear:item.startYear +' - '+ item.endYear}}
          </td>
          <td class="font-medium w-11 text-center ">{{item.instituteCode}}</td>
          <td class="font-medium w-11 text-center ">{{item.status}}</td>
          <td class="font-medium w-11 text-center cursor-pointer text-primary">
            <a *ngIf="item.status =='Approved for equivalence' || item.status == 'Continuous, approved for equivalence' "
              target="_blank" (click)="verGrap(item.id)">Ver</a>
          </td>
        </tr>
      </tbody>

    </table>

    <ng-template #n>
      <div [ngSwitch]="sin">
        <div *ngSwitchCase="false">
          <div class="w-full flex flex-row justify-around items-center">
            <svg width="44" height="44" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="black">
              <g fill="none" fill-rule="evenodd" stroke-width="2">
                <circle cx="22" cy="22" r="1">
                  <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
                    keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                  <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline"
                    keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                </circle>
                <circle cx="22" cy="22" r="1">
                  <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1"
                    keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
                  <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline"
                    keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
                </circle>
              </g>
            </svg>
          </div>
        </div>
        <div *ngSwitchCase="true">
          <p *ngIf="totalPages==0" class="text-sm text-gray-500 font-bold">No se encontraron resultados</p>
        </div>
      </div>
    </ng-template>
  </div>



  <!-- <app-modal-service *ngIf="selectServiceModal" [servicioData]="selectServiceModal"
    (quitar)="quitar()"></app-modal-service> -->

</div>
<shared-pagination *ngIf="totalItems > 20" [numberItems]="totalPages" [resetValueItems]="debounce"
  (itemSelected)="debounceNum($event)"></shared-pagination>
